/* Conditional visibility for choice blocks */
.wagtailuiplus__choice-handler-target--hidden {
  display: none;
}

/* Collapsable panels */
.object > .title-wrapper {
  cursor: pointer;
}
.object > .title-wrapper > label {
  cursor: pointer;
}
.object.wagtailuiplus__panel--collapsed {
  height: 53px;
}
.object.wagtailuiplus__panel--collapsed:last-child {
  height: 90px;
}
.object.wagtailuiplus__panel--collapsed > .object-layout {
  display: none ;
}
.object.wagtailuiplus__panel--collapsed > .title-wrapper label:before,
.object.wagtailuiplus__panel--collapsed > .title-wrapper:before {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-controls,
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-controls > h3,
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-controls > h3 > label {
  cursor: pointer;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-controls {
  cursor: pointer;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member.wagtailuiplus__struct-block--collapsed > .sequence-member-inner {
  padding-top: 0;
  overflow: hidden;
  height: 23px;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member.wagtailuiplus__struct-block--collapsed > .sequence-controls:before {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Stream field container */
.object.block_field.stream-field > .object-layout > .object-layout_big-part > fieldset {
  padding-top: 40px;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member {
  margin-left: 18px;
  margin-right: 18px;
  border: 1px solid #f37e77;
  margin-top: 36px;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member:hover {
  background-color: transparent;
}

/* Stream field header */
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-controls {
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #fcf2f2;
  opacity: 1;
  visibility: visible;
  border: none;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-controls > h3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 43px;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-controls > h3 > label {
  color: #200200;
  text-transform: uppercase;
  padding-left: 51px;
  font-size: 12.16px;
  line-height: 16px;
  font-weight: 400;
  top: 12px;
  left: 0;
  right: 120px;
  height: 16px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-controls:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  font-family: wagtail;
  text-transform: none;
  content: "q";
  text-align: center;
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 2em;
  top: 0;
  line-height: 43px;
  left: 0;
  width: 41px;
  color: #fff;
  padding: 0;
  margin: 0;
  background-color: #f37e77;
}

/* Stream field menu */
.sequence-container.sequence-type-stream > .stream-menu {
  margin-left: 18px;
  margin-right: 18px;
}
.sequence-container.sequence-type-stream > .stream-menu:not(.stream-menu-closed) {
  margin-top: 36px;
}
.sequence-container.sequence-type-stream > .stream-menu > .toggle {
  transition: all .2s ease;
}
.sequence-container.sequence-type-stream > .stream-menu.stream-menu-closed > .toggle {
  top: 6px;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .stream-menu.stream-menu-closed {
  opacity: 1;
  visibility: visible;
  position: relative;
  top: 13px;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .stream-menu > .toggle {
  background-color: #fff;
  width: 100%;
  border-radius: 0;
  text-align: center;
  height: 36px;
  overflow: visible;
}
.sequence  > li.sequence-member .struct-block .fields {
  width: 100%;
}
.sequence > li.sequence-member .struct-block .sequence-container {
  width: 83.33333%
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .stream-menu:not(.stream-menu-closed) {
  opacity: 1;
  visibility: visible;
  position: relative;
  top: 11px;
  left: -1px;
  width: calc(100% + 2px);
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .stream-menu:not(.stream-menu-closed) > .toggle {
  border-top: 1px solid #f37e77;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .stream-menu > .toggle:before {
  top: 6px;
  z-index: 100;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  left: 50%;
  margin-left: -11px;
  transition: all .2s ease;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .stream-menu:not(.stream-menu-closed) > .toggle:before {
  top: 25px;
}
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .stream-menu:not(.stream-menu-closed) > .stream-menu-inner > ul {
  padding-top: 39px;
}

/* Stream field content */
.sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member > .sequence-member-inner {
  padding-top: 60px;
  padding-left: 18px;
  padding-right: 18px;
}
.sequence-container.sequence-type-stream .sequence-container.sequence-type-stream > .stream-menu {
  margin-left: 0;
  margin-right: 0;
  visibility: visible;
  opacity: 1;
}
.sequence-container.sequence-type-stream .sequence-container.sequence-type-stream > .sequence-container-inner > .sequence > .sequence-member {
  margin: 36px 0 15px 0;
  position: relative;
  z-index: 1;
}

/* Initially hide elements */
.wagtailuiplus__initially-hidden {
  display: none;
}
