/* Fake Formset Default CSS */

.fake-formset-field-group-container .fake-formset-field_wrapper {
    position: relative;
    margin: 5px 0;
}

button[data-fake-formset-add-field], button[data-fake-formset-delete-field] {
    background: white;
    cursor: pointer;
}

button[data-fake-formset-add-field] {
    padding: 5px;
    border: 1px solid #ccc;
}

button[data-fake-formset-delete-field] {
    padding: 0 5px;
    margin: 0 5px 0 5px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0;
    border: 1px solid #ccc;
}
