.python-code {
	padding: 1em;
        font-family: monospace;
        border: 1px solid black;
        white-space: pre;
        color: black;
        background-color: #dfdfdf;
}
UL.toc {list-style: none}
LI.tocline0 {font-weight: bold}
LI.tocline1 {font-weight: normal}
LI.tocline2 {font-style: italic}

.warning {
  color: red;
  font-weight: bold;
}
